@font-face 
  font-family: Roboto
  src: url("./fonts/roboto/Roboto-Light.ttf")
  font-weight: lighter

@font-face 
  font-family: Roboto
  src: url("./fonts/roboto/Roboto-Medium.ttf")
  font-weight: normal
  font-style: normal


@font-face 
  font-family: noeDisplay
  src: url("./fonts/noe/noe-display-bold.ttf")
  font-weight: bold
  font-style: normal

@font-face 
  font-family: noeDisplay
  src: url("./fonts/noe/noe-display-bold-italic.ttf")
  font-weight: bold
  font-style: italic


@font-face 
  font-family: noeDisplay
  src: url("./fonts/noe/noe-display-medium.ttf")
  font-weight: normal
  font-style: normal

@font-face 
  font-family: noeDisplay
  src: url("./fonts/noe/noe-display-regular.ttf")
  font-weight: lighter
  font-style: normal

@font-face 
  font-family: noeDisplay
  src: url("./fonts/noe/noe-display-regular-italic.ttf")
  font-weight: lighter
  font-style: italic

//////////reset////////
* 
  margin: 0
  padding: 0
  border: 0

*,
*::before,
*::after 
  box-sizing: inherit

html,body
  box-sizing: border-box
  width: 100%
  height: 100%
  font-family: noeDisplay, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 18px

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b
  font-family: inherit
  text-decoration: none

button,input,select
  outline: 0


/////////////////

h1
  font-weight: lighter
  font-size: 1.4rem
  color: #8a8a8a
  span
    display: inline-block
    width: 28px
    height: 2px
    background-color: orange
    padding-left: 4px

h2
  font-size: 2rem

p
  margin-top: 1.5rem
  color: #747474


.about-text
  padding-right: 6.5rem

.container
    display: flex
    width: 100%
    height: auto
    justify-content: center
    .about
      display: flex
      .home
          flex: 1
          display: flex
          flex-direction: column
          padding-left: 100px
          .about-content
              flex: 1
              padding-top: 155px
          .navbar
              height: 88px
              li:first-child
                padding-left: 0 !important
              li
                display: inline-block
                padding: 30px
                a
                  color: #979797 
                a.active
                  color: orange
      .slider
          width: 430px
          height: 600px 
          img
            width: 100%
            height: 100%
    .container-left
      flex: 1
      .logo
        height: 88px
        width: 88px
        background-color: #000
        position: relative
        display: flex
        align-items: center
        justify-content: center
        span
          color: #fff
          font-size: 3.2rem
          font-weight: bold
        div
          position: absolute
          bottom: 0
          right: 0
          width: 10px
          height: 10px
          background-color: orange
    .container-center
        width: 1180px
    .container-right
        flex:1
        display: flex
        align-items: center
        .sidebar
            height: 350px
            width: 100%
            display: flex
            flex-direction: column
            position: relative
            align-items: space-between
            .sidebar-item
                display: block
                flex: 1
                transform-origin: 0 0
                transform: rotate(270deg)
                
.content
  padding-left: 100px
  padding-top: 155px

.portfolio-photos
  display: flex
  margin-top: 55px
  gap: 8px
  .double
    display: flex
    flex-direction: column
    gap: 8px
    img
      flex: 1
  .portfolio-column
    flex: 1
    height: 600px

.portfolio-header
  display: flex
  justify-content: space-between
  li
    display: inline-block 
    padding-right: .8rem
    padding-left: .8rem
  li>a.active
    color: #000 !important
  li>a
    font-size: .8rem   
    color: #747474 

.nav
  font-family: Roboto

.post
  display: flex
  .post-content
    flex: 1
  .post-image
    flex: 1
    display: flex
    align-items: center

            
h3
  font-size: 2.5rem
  font-weight: lighter


.padding-right-30
  padding-right: 30px

.padding-left-30
  padding-left: 30px

span.date
  font-size: .7rem

.padding-top-55
  padding-top: 55px

.margin-top-20
  margin-top: 20px


.justify-content-end
  justify-content: flex-end

.justify-content-start
  justify-content: flex-start